reload                          r
toggle_scrollbar                <f11>
toggle_statusbar                <f12>
screen_down                     d
screen_up                       u
goto_top_of_page                t
goto_bottom_of_page             T
goto_beginning;goto_top_of_page gg
goto_end;goto_bottom_of_page    G
previous_page;goto_top_of_page  <S-<space>>
next_page;goto_top_of_page      <space>
prev_state                      b
next_state                      B

delete_highlight                H
