startup_commands                toggle_statusbar;toggle_smooth_scroll_mode;toggle_synctex

should_launch_new_window        1
font_size                       24
status_bar_font_size            24
page_separator_width            2
page_separator_color            0.8 0.8 0.8
smooth_scroll_speed             3
horizontal_move_amount          2
vertical_move_amount            2
ui_font                         "JetBrains Mono"

hover_overview                  1
synctex_highlight_color         1 1 0.25
